        {% extends 'admin/baseadmin.html.twig' %}
        {% block body %}
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Catalogue</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Articles</a></li>
                        <li class="breadcrumb-item active">Catalogue</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Liste des catégories</h4>
                                <br>
                                <button type="button" class="btn btn-info m-b-10 m-l-5">Ajouter une catégorie</button>
                                <div class="table-responsive m-t-40">
                                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Catégorie</th>
                                                <th>Sous-catégorie</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Id</th>
                                                <th>Catégorie</th>
                                                <th>Sous-catégorie</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for liste in liste %}
                                            <tr>              
                                              <td>{{ liste.id }}</td>
                                              <td>{{ liste.cat }}</td>
                                              <td>{{ liste.sousCat }}</td>
                                              <td> 
                                                <a href="{{ path('detailarticle', {'id':liste.id}) }}"><button type="button" class="btn btn-info btn-flat btn-addon btn-sm m-b-10 m-l-5" data-toggle="modal" data-target="#myModal"><i class="ti-menu"></i> Détails</button></a>
                                                <a href="{{ path('editerarticle', {'id':liste.id}) }}"><button type="button" class="btn btn-warning btn-flat btn-addon btn-sm m-b-10 m-l-5"><i class="ti-pencil"></i> Modifier</button></a>
                                                <a href="{{ path('supparticle', {'id':liste.id}) }}"><button type="button" class="btn btn-danger btn-flat btn-addon btn-sm m-b-10 m-l-5"><i class="ti-close"></i> Supprimer</button></a>
                                              </td>
                                            </tr>

                                            <!-- 
                                            <div class="modal" id="myModal" tabindex="-1" role="dialog">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    {{ liste.id }}
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            -->

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
        {% endblock %}